<h1>New User Page</h1>

<form action="<%= users_url %>" method='POST'>
  <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
  <label>
    Username:
    <input type='text' name='user[username]'></input>
  </label>
  <label>
    Password
    <input type='password' name='user[password]'></input>
  </input>
  <button type='submit'>Create User</button>
</form>
